<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">
	
		<!-- 配置数据源 -->
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
			<property name="url" value="jdbc:sqlserver://localhost:1433;DatabaseName=zhang_search"/>
			<property name="username" value="sa"/>
			<property name="password" value="123456"/>
		</bean>
		
		<!-- 把数据源注入给session工厂 -->
		<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			
			<!-- 配置映射文件 -->
			<property name="mappingResources">
				<list>
					<value>com/searchSub/po/User.hbm.xml</value>
					<value>com/searchSub/po/Customer.hbm.xml</value>
					<value>com/searchSub/po/Question.hbm.xml</value>
					<value>com/searchSub/po/Administrator.hbm.xml</value>
				</list>
			</property>
		</bean> 
		
		<!-- 把dao注册给session工厂 -->
		<bean id="baseDao" class="com.searchSub.dao.BaseHibernateDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		 <!-- 
		 	<bean id="userDao" class="com.searchSub.dao.UserDao" parent="baseDao"/>
		  -->
		<bean id="userDao" class="com.searchSub.dao.CustomerDAO" parent="baseDao"/>
		<bean id="userService" class="com.searchSub.service.UserService">
			<property name="userDao" ref="userDao" />
			<property name="quesDao" ref="quesDao" />
		</bean>
		<bean id="userAction" class="com.searchSub.action.UserAction" scope="prototype">
			<property name="userService" ref="userService"/>
		</bean>
		
		
		<bean id="ques" class="com.searchSub.po.Question" />
		<bean id="quesDao" class="com.searchSub.dao.QuestionDAO" parent="baseDao" />
		<bean id="searchServ" class="com.searchSub.service.searchServ">
			<property name="ques" ref="ques" />
			<property name="quesDao" ref="quesDao" />
		</bean>
		<bean id="searchAction" class="com.searchSub.action.searchAction" scope="prototype">
			<property name="serv" ref="searchServ"/>
		</bean>
		
		
		<!--管理员相关-->
		<bean id="adminDao" class="com.searchSub.dao.AdminDAO" parent="baseDao" />
		
		<bean id="adminService" class="com.searchSub.service.AdminService">
			<property name="customerDao" ref="userDao" />
			<property name="questionDao" ref="quesDao" />
			<property name="adminDao" ref="adminDao" />
		</bean>
		
		<bean id="AdminAction" class="com.searchSub.action.AdminAction" scope="prototype">
			<property name="customerService" ref="userService" />
			<property name="adminService" ref="adminService" />
		</bean>
		
</beans> 